In [17]:
import pandas as pd

podaci_po_gradovima = pd.read_json("../data-etfbl/podaci_po_gradovima2.json" )
podaci_po_gradovima

        datum
0  2020-03-05
1  2020-03-06
2  2020-03-07
3  2020-03-08
4  2020-03-09
5  2020-03-10
6  2020-03-11
7  2020-03-12